html,
body {
    height: 100%;
    background: lightblue;
    margin: 0;
}

#app {
    height: 100px;
}

#app div {
        color: #000;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        background: #fff;
    }